/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: url('/img/fondo-menu.jpg'); 
  background-size: cover; 
  background-position: center; 
}

.heroBanner::before { 
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(148, 0, 211, 0.5); /* Violet fog effect */
  z-index: -1; /* Ensure fog is above the background */
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.craftButton {
  background: linear-gradient(45deg, #00a3ff, #00ff8f);
  color: #ffffff;
  border: none;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.craftButton::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: rgba(255, 255, 255, 0.1);
  transform: rotate(45deg);
  transition: all 0.3s ease;
}

.craftButton:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 163, 255, 0.5);
}

.craftButton:hover::before {
  left: -100%;
  top: -100%;
}

.rainbowText {
  display: inline-block;
  animation: rainbow 3s infinite;
  background: linear-gradient(270deg, #52c2ed, rgb(240, 237, 240));
  -webkit-background-clip: text;
  background-clip: text; /* Added standard property for compatibility */
  -webkit-text-fill-color: transparent;
  animation: waterFlow 1.5s infinite alternate;
}

@keyframes rainbow {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

@keyframes waterFlow {
  0% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }
  100% {
    text-shadow: 0 0 15px rgba(255, 255, 255, 1);
  }
}

@keyframes flash {
  0%, 100% { color: black; }
  50% { color: white; }
}

#ReDeFine {
  display: inline-block;
  animation: flash 1s infinite;
}

