VITE_API_URL=http://localhost:3000
VITE_AUTH_ISSUER=https://sso.alternun.co/application/o/alternun-admin/
VITE_AUTH_CLIENT_ID=alternun-admin
VITE_AUTH_AUDIENCE=alternun-app
VITE_ALLOWED_ADMIN_EMAIL_DOMAIN=alternun.io
VITE_APP_ENV=development
