name: Test deployment

on:
  pull_request:
    branches:
      - master
      - main
    # Review gh actions docs if you want to further define triggers, paths, etc
    # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#on

jobs:
  test-deploy:
    name: Test deployment
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./apps/docs
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: '9.0.0'

      - uses: actions/setup-node@v4
        with:
          node-version: '22.22.0'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Test build website
        run: pnpm build